<div ng-controller="CaseManagersTableCtrl">
  <h1>Case Managers</h1>

  <div class="row">
    <div class="col-md-8">
      <input type="search" ng-model="filter.$" class="form-control" />
    </div>
    <div class="col-md-2 col-md-offset-2">
      <button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>
    </div>
  </div>

  <table class='table' ng-table="tableParams">
    <tbody>
        <tr ng-repeat="case_manager in $data">
          <td data-title="'Name'" sortable="'full_name'">{{case_manager.full_name}}</td>
          <td data-title="'Email'" sortable="'email'">{{case_manager.email}}</td>
          <td data-title="'Phone Number'">{{case_manager.phone_number}}</td>
          <td data-title="'Members Managed'" sortable="'managed_members_length'">{{case_manager.managed_members_length}}</td>
          <td data-ng-bind-html="case_manager.links.manage_members"></td>
          <td data-ng-bind-html="case_manager.links.show"></td>
          <td data-ng-bind-html="case_manager.links.edit"></td>
        </tr>
    </tbody>
  </table>
  <p><strong>Total case managers:</strong> {{tableParams.total()}}</p>
</div>
<br>

<%= link_to 'New Case manager', new_case_manager_path if current_user.is_a? CaseManager  %>
