<div ng-controller="CommunicationDevicesTableCtrl" ng-cloak>
  <div class="row">
    <div class="col-md-6">
      <h1><i class="fa fa-tablet"></i> Communication Devices</h1>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="search" ng-model="filter.$"class="search-box form-control width-auto" />
      </div>
    </div>
  </div>

  <table class='table table-hover table-condensed' ng-table="tableParams">
    <tbody>
        <tr ng-repeat="communication_device in $data">
          <td data-title="'Device ID'" sortable="'cdid'">{{communication_device.cdid}}</td>
          <td data-title="'Phone Number'">{{communication_device.phone_number}}</td>
          <td data-title="'Device Type'" sortable="'device_type'">{{communication_device.device_type}}</td>
          <td data-title="'Device Model'" sortable="'device_model'">{{communication_device.device_model}}</td>
          <td data-title="'Created At'" sortable="'created_at'">{{communication_device.created_at | date: 'short'}}</td>
          <td data-title="'Last Communication'" sortable="'last_communicated_at'">{{communication_device.last_communicated_at | date: 'short'}}</td>
          <td data-ng-bind-html="communication_device.links.manage_members"></td>
          <td data-ng-bind-html="communication_device.links.show"></td>
          <td data-ng-bind-html="communication_device.links.edit"></td>
        </tr>
    </tbody>
  </table>
  <p><strong>Total communication devices:</strong> {{tableParams.total()}}</p>
</div>
<br>

<%= link_to 'New Communication device', new_communication_device_path %>
