<div ng-controller="MemberGroupsTableCtrl" ng-cloak>
  <h1>Member Groups</h1>

  <div class="row">
    <div class="col-md-8">
      <input type="search" ng-model="filter.$" class="form-control" />
    </div>
    <div class="col-md-2">
      <button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>
    </div>
  </div>

  <table class='table' ng-table="tableParams">
    <tbody>
        <tr ng-repeat="member_group in $data">
          <td data-title="'Name'" sortable="'name'">{{member_group.name}}</td>
          <td data-title="'Description'" sortable="'description'">{{member_group.description}}</td>
          <td data-title="'Number of Members'" sortable="'number_of_members'">{{member_group.number_of_members}}</td>
          <td data-ng-bind-html="member_group.links.grouped_members"></td>
          <td data-ng-bind-html="member_group.links.show"></td>
          <td data-ng-bind-html="member_group.links.edit"></td>
          <td data-ng-bind-html="member_group.links.destroy"></td>
        </tr>
    </tbody>
  </table>
  <p><strong>Total member groups:</strong> {{tableParams.total()}}</p>
</div>
<br>

<%= link_to 'New member group', new_member_group_path %>
