<div ng-controller="MetersTableCtrl">
  <div class="row">
    <div class="col-md-8">
      <input type="search" ng-model="filter.$" class="form-control" />
    </div>
    <div class="col-md-2">
      <button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>
    </div>
  </div>

  <table class='table' ng-table="tableParams">
    <tbody>
        <tr ng-repeat="meter in $data">
          <td data-title="'Meter ID'" sortable="'mid'">{{meter.mid}}</td>
          <td data-title="'Bluetooth Mac'" sortable="'bluetooth_mac'">{{meter.bluetooth_mac}}</td>
          <td data-ng-bind-html="meter.links.show"></td>
          <td data-ng-bind-html="meter.links.edit"></td>
          <td data-ng-bind-html="meter.links.destroy"></td>
        </tr>
    </tbody>
  </table>
  <p><strong>Total meters:</strong> {{tableParams.total()}}</p>
</div>