<%= javascript_tag do %>
  window.member_group_id = '<%= @member_group.id %>';
<% end %>
<div class="row" ng-controller="GroupedMembersCtrl" ng-cloak>
  <div class="col-md-6">
    <h1>Current members in group</h1>
    <input type="search" ng-model="current_member_query" class="form-control" />
    <table class="table">
      <thead>
        <tr> 
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="current_member in current_members | filter:current_member_query">
          <td>{{current_member.member.display_name}}</td>
          <td><button ng-click="removeGroupedMember(current_member)" class="btn btn-default">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h1>Members not in group</h1>
    <input type="search" ng-model="new_member_query" class="form-control" />
    <table class="table">
      <thead>
        <tr> 
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="new_member in new_members | filter:new_member_query | orderBy:last_name">
          <td>{{new_member.display_name}}</td>
          <td><button ng-click="addMember(new_member)" class="btn btn-default">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>