<%= javascript_tag do %>
  window.member_id = '<%= @member.id %>';
<% end %>

<div ng-controller="EmailMessagesTableCtrl">
  <div class="row">
    <div class="col-md-6">
      <h1>Email Messages</h1>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="search" ng-model="filter.$"class="search-box form-control width-auto" />
      </div>
    </div>
  </div>
  <table class='table' ng-table="tableParams">
    <tbody>
        <tr ng-repeat="email_message in $data">
          <td data-title="'From'" sortable="'from'">{{email_message.from}}</td>
          <td data-title="'Body'">{{email_message.body}}</td>
          <td data-title="'Case Manager'" sortable="'case_manager_name'">{{email_message.case_manager_name}}</td>
          <td data-title="'Sent on'" sortable="'created_at'">{{email_message.created_at | date: 'short'}}</td>
          <td data-ng-bind-html="email_message.links.show"></td>
        </tr>
    </tbody>
  </table>
  <p><strong>Total email messages:</strong> {{tableParams.total()}}</p>
</div>
<br>

<%= link_to 'New email message', new_member_email_message_path(@member) %>
