development:
  adapter: postgresql
  database: emma-crowd-dev
  host: 127.0.0.1
  pool: 5
  timeout: 5000

test:
  adapter: postgresql
  database: emma-crowd-dev
  host: 127.0.0.1
  pool: 5
  timeout: 5000
