<%= javascript_tag do %>
  window.report_id = '<%= @report.id %>';
<% end %>
<div ng-controller="RunReportsCtrl" ng-cloak>
  <div class="row">
    <div class="col-md-6">
      <h1><i class="fa fa-signal"></i> <%= @report.name %> Report</h1>
      <p>Run at <%= datetime_to_string Time.now %></p>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-1 control-label search-label">Find</label>
        <div class="col-md-10">
          <input type="search" ng-model="filter.$" class="form-control search-box" />
        </div>
      </div>
    </div>
  </div>
  
  <a class="btn" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv">Export to CSV</a>

  <table class='table table-hover table-condensed' ng-table="tableParams" export-csv="csv">
    <thead>
              <tr>
                  <th ng-repeat="heading in results.table.headers">
                      <div>{{heading}}</div>
                  </th>
              </tr>
          </thead>
    <tbody>
        <tr ng-repeat="report in $data">
          <td ng-repeat="heading in results.table.headers" sortable="heading">{{report[heading]}}</td>
        </tr>
    </tbody>
  </table>

  <p><strong>Total reports:</strong> {{tableParams.total()}}</p>
</div>
